

#yellow {
  background-color: yellow;
  border: 1px solid green;
  padding: 10px;
}


#red {
  background-color: red;
  border: 1px solid black;
  padding: 10px;
  color: white; 
}


#green {
  background-color: green;
  border: 1px solid yellow;
  padding: 10px;
  color: white; 
}

